// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  text-align: center;
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $gray-4;

  a {
    color: inherit;
    display: block;
    font-size: 180%;
  }

  small {
    font-size: 100%;
    font-weight: 400;
    opacity: .5;
  }
}
